NODE_ENV=development
PORT=1234
VERSION=1.0.0
APP_NAME=app_name

# for docker
POSTGRES_USER=psql_user_name
POSTGRES_PASSWORD=psql_pw
POSTGRES_DB=psql_db_name

# for docker
DATABASE_URL=postgresql://psql_user_name:psql_pw@postgres:5432/psql_db_name

# for docker
REDIS_HOST=redis
REDIS_PORT=6379

ENABLE_SWAGGER=true